<!-- wp:pattern {"slug":"brandy/hero-banner"} /-->

<!-- wp:group {"metadata":{"name":"Featured Products"},"style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"},"blockGap":"0","padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60);padding-top:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20)">
	<!-- wp:heading {"textAlign":"center","metadata":{"name":"Title"},"align":"wide","fontSize":"fluid-3-xl"} -->
	<h2 class="wp-block-heading alignwide has-text-align-center has-fluid-3-xl-font-size">Featured products</h2>
	<!-- /wp:heading -->

	<!-- wp:paragraph {"align":"center","metadata":{"name":"Description"},"style":{"elements":{"link":{"color":{"text":"var:preset|color|brandy-secondary-text"}}},"spacing":{"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|40"}}},"textColor":"brandy-secondary-text"} -->
	<p class="has-text-align-center has-brandy-secondary-text-color has-text-color has-link-color"
		style="padding-top:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--40)">Share
		information about your brand with your customers. Describe a product, make announcements, or welcome customers
		to your store.</p>
	<!-- /wp:paragraph -->

	<!-- wp:group {"metadata":{"name":"Product List"},"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"grid","minimumColumnWidth":"18rem"}} -->
	<div class="wp-block-group alignwide">
		<!-- wp:group {"metadata":{"name":"Item"},"style":{"layout":{"columnSpan":1,"rowSpan":1},"spacing":{"blockGap":"5px"}},"layout":{"type":"constrained"}} -->
		<div class="wp-block-group">
			<!-- wp:image {"id":11,"aspectRatio":"1","scale":"cover","sizeSlug":"large","linkDestination":"none","style":{"border":{"radius":"10px"}}} -->
			<figure class="wp-block-image size-large has-custom-border"><img
					src="https://images.wpbrandy.com/uploads/woocommerce-placeholder-gray.webp" alt=""
					class="wp-image-11" style="border-radius:10px;aspect-ratio:1;object-fit:cover" /></figure>
			<!-- /wp:image -->

			<!-- wp:heading {"level":4} -->
			<h4 class="wp-block-heading">Sample product 1</h4>
			<!-- /wp:heading -->

			<!-- wp:paragraph -->
			<p>$30.00</p>
			<!-- /wp:paragraph -->
		</div>
		<!-- /wp:group -->

		<!-- wp:group {"metadata":{"name":"Item"},"style":{"layout":{"columnSpan":1,"rowSpan":1},"spacing":{"blockGap":"5px"}},"layout":{"type":"constrained"}} -->
		<div class="wp-block-group">
			<!-- wp:image {"id":11,"aspectRatio":"1","scale":"cover","sizeSlug":"large","linkDestination":"none","style":{"border":{"radius":"10px"}}} -->
			<figure class="wp-block-image size-large has-custom-border"><img
					src="https://images.wpbrandy.com/uploads/woocommerce-placeholder-gray.webp" alt=""
					class="wp-image-11" style="border-radius:10px;aspect-ratio:1;object-fit:cover" /></figure>
			<!-- /wp:image -->

			<!-- wp:heading {"level":4} -->
			<h4 class="wp-block-heading">Sample product 2</h4>
			<!-- /wp:heading -->

			<!-- wp:paragraph -->
			<p>$100.00</p>
			<!-- /wp:paragraph -->
		</div>
		<!-- /wp:group -->

		<!-- wp:group {"metadata":{"name":"Item"},"style":{"layout":{"columnSpan":1,"rowSpan":1},"spacing":{"blockGap":"5px"}},"layout":{"type":"constrained"}} -->
		<div class="wp-block-group">
			<!-- wp:image {"id":11,"aspectRatio":"1","scale":"cover","sizeSlug":"large","linkDestination":"none","style":{"border":{"radius":"10px"}}} -->
			<figure class="wp-block-image size-large has-custom-border"><img
					src="https://images.wpbrandy.com/uploads/woocommerce-placeholder-gray.webp" alt=""
					class="wp-image-11" style="border-radius:10px;aspect-ratio:1;object-fit:cover" /></figure>
			<!-- /wp:image -->

			<!-- wp:heading {"level":4} -->
			<h4 class="wp-block-heading">Sample product 3</h4>
			<!-- /wp:heading -->

			<!-- wp:paragraph -->
			<p>$130.00</p>
			<!-- /wp:paragraph -->
		</div>
		<!-- /wp:group -->

		<!-- wp:group {"metadata":{"name":"Item"},"style":{"layout":{"columnSpan":1,"rowSpan":1},"spacing":{"blockGap":"5px"}},"layout":{"type":"constrained"}} -->
		<div class="wp-block-group">
			<!-- wp:image {"id":11,"aspectRatio":"1","scale":"cover","sizeSlug":"large","linkDestination":"none","style":{"border":{"radius":"10px"}}} -->
			<figure class="wp-block-image size-large has-custom-border"><img
					src="https://images.wpbrandy.com/uploads/woocommerce-placeholder-gray.webp" alt=""
					class="wp-image-11" style="border-radius:10px;aspect-ratio:1;object-fit:cover" /></figure>
			<!-- /wp:image -->

			<!-- wp:heading {"level":4} -->
			<h4 class="wp-block-heading">Sample product 4</h4>
			<!-- /wp:heading -->

			<!-- wp:paragraph -->
			<p>$10.00</p>
			<!-- /wp:paragraph -->
		</div>
		<!-- /wp:group -->

		<!-- wp:group {"metadata":{"name":"Item"},"style":{"layout":{"columnSpan":1,"rowSpan":1},"spacing":{"blockGap":"5px"}},"layout":{"type":"constrained"}} -->
		<div class="wp-block-group">
			<!-- wp:image {"id":11,"aspectRatio":"1","scale":"cover","sizeSlug":"large","linkDestination":"none","style":{"border":{"radius":"10px"}}} -->
			<figure class="wp-block-image size-large has-custom-border"><img
					src="https://images.wpbrandy.com/uploads/woocommerce-placeholder-gray.webp" alt=""
					class="wp-image-11" style="border-radius:10px;aspect-ratio:1;object-fit:cover" /></figure>
			<!-- /wp:image -->

			<!-- wp:heading {"level":4} -->
			<h4 class="wp-block-heading">Sample product 5</h4>
			<!-- /wp:heading -->

			<!-- wp:paragraph -->
			<p>$300.00</p>
			<!-- /wp:paragraph -->
		</div>
		<!-- /wp:group -->

		<!-- wp:group {"metadata":{"name":"Item"},"style":{"layout":{"columnSpan":1,"rowSpan":1},"spacing":{"blockGap":"5px"}},"layout":{"type":"constrained"}} -->
		<div class="wp-block-group">
			<!-- wp:image {"id":11,"aspectRatio":"1","scale":"cover","sizeSlug":"large","linkDestination":"none","style":{"border":{"radius":"10px"}}} -->
			<figure class="wp-block-image size-large has-custom-border"><img
					src="https://images.wpbrandy.com/uploads/woocommerce-placeholder-gray.webp" alt=""
					class="wp-image-11" style="border-radius:10px;aspect-ratio:1;object-fit:cover" /></figure>
			<!-- /wp:image -->

			<!-- wp:heading {"level":4} -->
			<h4 class="wp-block-heading">Sample product 6</h4>
			<!-- /wp:heading -->

			<!-- wp:paragraph -->
			<p>$360.00</p>
			<!-- /wp:paragraph -->
		</div>
		<!-- /wp:group -->

		<!-- wp:group {"metadata":{"name":"Item"},"style":{"layout":{"columnSpan":1,"rowSpan":1},"spacing":{"blockGap":"5px"}},"layout":{"type":"constrained"}} -->
		<div class="wp-block-group">
			<!-- wp:image {"id":11,"aspectRatio":"1","scale":"cover","sizeSlug":"large","linkDestination":"none","style":{"border":{"radius":"10px"}}} -->
			<figure class="wp-block-image size-large has-custom-border"><img
					src="https://images.wpbrandy.com/uploads/woocommerce-placeholder-gray.webp" alt=""
					class="wp-image-11" style="border-radius:10px;aspect-ratio:1;object-fit:cover" /></figure>
			<!-- /wp:image -->

			<!-- wp:heading {"level":4} -->
			<h4 class="wp-block-heading">Sample product 7</h4>
			<!-- /wp:heading -->

			<!-- wp:paragraph -->
			<p>$33.00</p>
			<!-- /wp:paragraph -->
		</div>
		<!-- /wp:group -->

		<!-- wp:group {"metadata":{"name":"Item"},"style":{"layout":{"columnSpan":1,"rowSpan":1},"spacing":{"blockGap":"5px"}},"layout":{"type":"constrained"}} -->
		<div class="wp-block-group">
			<!-- wp:image {"id":11,"aspectRatio":"1","scale":"cover","sizeSlug":"large","linkDestination":"none","style":{"border":{"radius":"10px"}}} -->
			<figure class="wp-block-image size-large has-custom-border"><img
					src="https://images.wpbrandy.com/uploads/woocommerce-placeholder-gray.webp" alt=""
					class="wp-image-11" style="border-radius:10px;aspect-ratio:1;object-fit:cover" /></figure>
			<!-- /wp:image -->

			<!-- wp:heading {"level":4} -->
			<h4 class="wp-block-heading">Sample product 8</h4>
			<!-- /wp:heading -->

			<!-- wp:paragraph -->
			<p>$15.00</p>
			<!-- /wp:paragraph -->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"brandy/single-testimonial"} /-->


<!-- wp:group {"metadata":{"name":"Newest Posts"},"style":{"spacing":{"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"},"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"constrained","contentSize":""}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-top:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20)">
	<!-- wp:heading {"textAlign":"center","metadata":{"name":"Title"},"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|40"}}},"fontSize":"fluid-3-xl"} -->
	<h2 class="wp-block-heading has-text-align-center has-fluid-3-xl-font-size"
		style="margin-bottom:var(--wp--preset--spacing--40)">Newest posts</h2>
	<!-- /wp:heading -->
	<!-- wp:pattern {"slug":"brandy/newest-posts-grid"} /-->
</div>
<!-- /wp:group -->