<!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:var(--wp--preset--spacing--40);">
	<!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
	<div class="wp-block-group alignwide">
		<!-- wp:post-title {"level":1,"align":"wide"} /-->

		<!-- wp:post-content {"align":"wide", "style":{"spacing":{"blockGap":"24px"}}} /-->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->