<!-- wp:pattern {"slug":"brandy/hero-banner"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--30);margin-bottom:var(--wp--preset--spacing--60)">
	<!-- wp:pattern {"slug":"brandy/campaign-banners"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60);">
	<!-- wp:heading {"textAlign":"center","align":"wide","style":{"typography":{"fontStyle":"normal","fontWeight":"700"},"spacing":{"margin":{"bottom":"var:preset|spacing|40","top":"0rem"}}},"fontSize":"fluid-3-xl"} -->
	<h2 class="wp-block-heading alignwide has-text-align-center has-fluid-3-xl-font-size"
		style="margin-top:0rem;margin-bottom:var(--wp--preset--spacing--40);font-style:normal;font-weight:700">
		Discover our featured products</h2>
	<!-- /wp:heading -->

	<!-- wp:pattern {"slug":"brandy/featured-products-collection-slider"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60);">
	<!-- wp:pattern {"slug":"brandy/countdown"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60);">

	<!-- wp:heading {"textAlign":"center","align":"wide","className":"wc-home-section-title wc-home__most-searched-products__title","style":{"typography":{"fontStyle":"normal","fontWeight":"700"},"spacing":{"margin":{"top":"0rem","bottom":"var:preset|spacing|40"}}},"fontSize":"fluid-3-xl"} -->
	<h2 class="wp-block-heading alignwide has-text-align-center wc-home-section-title wc-home__most-searched-products__title has-fluid-3-xl-font-size"
		style="margin-top:0rem;margin-bottom:var(--wp--preset--spacing--40);font-style:normal;font-weight:700">Client
		love us &amp; we love them</h2>
	<!-- /wp:heading -->

	<!-- wp:pattern {"slug":"brandy/simple-testimonials-1"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained","contentSize":""}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:var(--wp--preset--spacing--60);">
	<!-- wp:heading {"textAlign":"center","align":"wide","style":{"typography":{"fontStyle":"normal","fontWeight":"700"},"spacing":{"margin":{"top":"0rem","bottom":"var:preset|spacing|40"}}},"className":"wc-home-section-title wc-home__most-searched-products__title","fontSize":"fluid-3-xl"} -->
	<h2 class="wp-block-heading alignwide has-text-align-center wc-home-section-title wc-home__most-searched-products__title has-fluid-3-xl-font-size"
		style="margin-top:0rem;margin-bottom:var(--wp--preset--spacing--40);font-style:normal;font-weight:700">The
		most searched products</h2>
	<!-- /wp:heading -->

	<!-- wp:pattern {"slug":"brandy/best-selling-products-collection"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained","contentSize":""}} -->
<div class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60);">
	<!-- wp:heading {"textAlign":"center","align":"wide","className":"wc-home-section-title wc-home__latest-posts__title","style":{"typography":{"fontStyle":"normal","fontWeight":"700"},"spacing":{"margin":{"bottom":"var:preset|spacing|40"}}},"fontSize":"fluid-3-xl"} -->
	<h2 class="wp-block-heading alignwide has-text-align-center wc-home-section-title wc-home__latest-posts__title has-fluid-3-xl-font-size"
		style="margin-bottom:var(--wp--preset--spacing--40);font-style:normal;font-weight:700">Discover dressing tips
		from our blog</h2>
	<!-- /wp:heading -->

	<!-- wp:pattern {"slug":"brandy/newest-posts-grid"} /-->

	<!-- wp:buttons {"style":{"spacing":{"margin":{"top":"30px"}}},"layout":{"type":"flex","justifyContent":"center"}} -->
	<div class="wp-block-buttons" style="margin-top:30px">
		<!-- wp:button {"className":"is-style-outline","fontSize":"base"} -->
		<div class="wp-block-button has-custom-font-size is-style-outline has-base-font-size"><a
				class="wp-block-button__link wp-element-button" href="[blog_page_url]">View more</a>
		</div>
		<!-- /wp:button -->
	</div>
	<!-- /wp:buttons -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"pre-footer"} /-->